@import "tailwindcss/base";
@import "./fonts.css";
@import "./docsearch.css";
@import "./code.css";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

ul[type="circle"] {
  list-style-type: circle;
}

ul[type="dash"] {
  list-style-type: "-";
}

.custom th,
td {
  padding-left: 12px !important;
  padding-right: 12px !important;
  border-width: 1px;
}

.custom th {
  padding-top: 16px;
  padding-bottom: 16px !important;
  background-color: #f4f5f7;
}

pre[data-language="custom_field"] {
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: black;
  box-shadow: none;
}

.narrow.inline {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
}

.narrow img {
  width: auto !important;
}
